streamlit
PyPDF2
pytesseract
Pillow
nltk
spacy==3.2.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
pdf2image # If you switch from Wand to pdf2image for PDF to image conversion
